.activity_list_content .article_title {
  padding-left: 8px;
  border-left: 3px solid #e66e0f;
}


/* RWD Start =================================== */
@media (min-width: 640px) {
  .activity_list_content .article_unit .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 640px) {
  .activity_list_content .article_unit .card-body {
    padding-left: 30px;
  }

  .activity_list_content .article_title {
    padding-left: 12px;
    border-width: 4px;
  }
}