.activity_content_page .article_header {
  display: flex;
}

.activity_content_page .article_header_secondary {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 0 0 30%;
}

.activity_content_page .publish_time {
  order: 2;
  margin-top: 8px;
}

.activity_content_page .share_this_article_to_facebook {
  order: 1;
}

.activity_content_page .author_detail {
  width: 100%;
  text-align: right;
}

.activity_content_page .column_name {
  display: flex;
  align-items: center;
}

.activity_content_page .article_footer {
  margin-top: 30px;
}

.activity_apply_btn {
  width: 220px;
  margin: 0 auto;
}

.activity_content_page .article_seperator {
  margin-bottom: 15px;
  margin-top: 15px;
}

/* RWD Start =================================== */
@media (min-width: 640px) {
  .activity_content_page .article_footer {
    margin-top: 50px;
  }

  .activity_content_page .article_img {
    margin-bottom: 30px;
  }

  .activity_content_page .article_seperator {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

@media (min-width: 1400px) {
  .activity_content_page .article_footer {
    margin-top: 60px;
  }
  
  .activity_content_page .article_img {
    margin-bottom: 40px;
  }
}