.m_activity_form_bg {
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  z-index: 0;
}

.activity_form .main-content-container {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 30px;
}

.activity_form .main-content {
  position: relative;
  z-index: 2;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 0;
}

.activity_form .breadcrumb-link {
  color: #ffffff;
}

.activity_form .footer {
  position: relative;
  z-index: 2;
}

.actvity_form_head {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 1;
  width: calc(100% - 60px);
}

.activity_title {
  color: #ececec;
  font-size: 18px;
  font-weight: 500;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.activity_form_ctrl {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.activity_form_ctrl.flex-row {
  flex-wrap: nowrap;
}

.activity_form_ctrl.flex-row .activity_input_label{
  width: auto;
  margin-right: 15px;
  margin-bottom: 0;
  display: block;
  flex: 0 0 55px;
}

.activity_form_ctrl.flex-row .secondary-part{
  flex: 1 1 auto;
}

.activity_input_label {
  display: block;
  width: 100%;
  color: #ececec;
  margin-bottom: 5px;
}

.activity_form_style {
  border: 1px solid #ececec;
  border-radius: 50px;
  padding: 8px 12px;
  width: 100%;
  background-color: transparent;
  color: #ececec;
}

.activity_input {
  width: 100%;
}

.activity_entering_fee {
  color: #ececec;
}

.activity_form_textarea {
  min-height: 158px;
  border-radius: 20px;
  padding: 15px;
}

.submit_wrapper {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.activity_text_ctrl {
  font-size: 12px;
}

.activity_error_hint {
  display: none;
  color: #e66e0f;
  font-size: 12px;
  margin-top: 5px;
  width: 100%;
  text-align: right;
}

.error .activity_input{
  border-color: #e66e0f;
}

.error .activity_error_hint {
  display: block;
}

.activity_submit_btn {
  min-width: 75px;
}

.activity_form_select {
  width: 30%;

  max-width: 104px;

  /*移除箭頭樣式*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*改變右邊箭頭樣式*/
  background: url("../img/icon_arrowdownw@2x.png") no-repeat 90% center transparent;
  background-size: 15px 15px;
  outline: none;
}

.activity_checkboxes {
  width: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.activity_checkbox_unit {
  display: flex;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 15px;
}

.activity_dummy_checkbox {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #ffffff;
  display: block;
  margin-right: 5px;
  position: relative;
}

.activity_checkbox:checked + .activity_dummy_checkbox {
  background-color: #ffffff;
}

.activity_checkbox:checked + .activity_dummy_checkbox::before {
  content: '';
  display: block;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: #e66e0f;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-53%, -45%);
  z-index: 2;
}

.activity_checkbox_text {
  display: block;
  color: #ffffff;
  font-size: 12px;
}

.item_choose .activity_input_label{
  margin-bottom: 15px !important;
}

/* RWD Start =================================== */

@media (min-width: 375px) {
  .activity_title {
    font-size: 20px;
  }

  .activity_text_ctrl {
    font-size: 14px;
  }

  .activity_form_ctrl.flex-row .activity_input_label{
    margin-right: 15px;
    flex: 0 0 65px;
  }

  .activity_checkbox_text {
    font-size: 14px;
  }
}

@media (min-width: 480px) {

}

@media (min-width: 640px) {
  .activity_title {
    font-size: 26px;
    margin-bottom: 25px;
  }

  .activity_input_label {
      margin-bottom: 10px;
  }

  .activity_text_ctrl {
    font-size: 16px;
  }

  .activity_form_ctrl.flex-row .activity_input_label{
    margin-right: 15px;
    flex: 0 0 80px;
  }

  .activity_checkbox_text {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .activity_title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .activity_input_label {
      margin-bottom: 10px;
  }
  
  .activity_text_ctrl {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .m_activity_form_bg {
    display: none;
  }

  .activity_title {
    font-size: 40px;
    margin-bottom: 25px;
  }

  .activity_input_label {
      margin-bottom: 10px;
  }
  
  .activity_text_ctrl {
    font-size: 18px;
  }

  .activity_form .main-content {
    width: calc(100% - 60px);

    position: relative;
    z-index: 2;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 0;
  }

  .actvity_form_head {
    position: relative;
    top: initial;
    left: initial;
    max-width: 1400px;
    padding-top: 40px;
    margin: 0 auto;
  }

  .activity_form .main-content-container {
    background-image: url(../img/web_activityback.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .article_column_body {
    max-width: 650px;
  }

  .activity_form_ctrl {
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 30px;
    position: relative;
  }

  .activity_form_style {
    padding: 12px 20px;
  }

  .activity_input_label {
    flex: 0 0 100px;
    margin-bottom: 0;
  }

  .activity_input {
    flex: 1 1 auto;
  }

  .activity_form_name,
  .activity_form_phone {
    flex: 0 0 40%;
  }

  .activity_form_select {
    width: 100px;
    padding-left: 40px;
  }

  .activity_entering_fee {
    padding: 0;
  }

  .activity_form_textarea {
    flex: 1 1 auto;
  }

  .submit_wrapper {
    width: auto;
    position: absolute;
    right: -135px;
    bottom: 0;
    margin-top: 0;
    min-width: 105px;
  }

  .activity_submit_btn {
    width: 100%;
  }

  .activity_error_hint {
    font-size: 16px;
    width: auto;
    position: absolute;
    right: -100px;
    bottom: 0;
    z-index: 3;
  }

  .activity_form_name + .activity_error_hint,
  .activity_form_phone + .activity_error_hint {
    right: 26%;
  }
}