.article_column_head {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.article_column_head .column_name {
  /* width: auto; */
}

.article_column_head .category_checkbox_container {
  margin-top: 12px;
}

.write_article_btn {
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 2;
}

.write_article_btn_img {
  width: 20px;
  height: 20px;
}

.write_article_btn_text {
  font-size: 16px;
  color: #707070;
}

.article_column_foot {
  margin-top: 30px;
}

/* RWD Start =================================== */

@media (min-width: 640px) {

  .article_column_foot {
    margin-top: 40px;
  }

  .article_column_head {
    justify-content: space-between;
  }
  
  .article_column_head .column_name {
    width: auto;
  }

  .article_column_head .category_checkbox_container {
    width: 65%;
    flex: 0 0 65%;
    margin-top: 0;
    display: flex;
    justify-content:center;
  }

  .write_article_btn {
    position: relative;
    top: initial;
    right: initial;
  }
}

@media (min-width: 1024px) {
  .write_article_btn_img {
    width: 24px;
    height: 24px;
  }

  .write_article_btn_text {
    font-size: 20px;
  }

  .article_column_foot {
    margin-top: 70px;
  }
}