


.article_header_primary {
  margin-bottom: 20px;
}

.column_title {
  font-size: 20px;
  font-weight: 500;
  color: #747474;
  margin-bottom: 10px;
}

.article_badge_group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.article_header_secondary {
  width: 100%;
  display: flex;
  align-items: center;
}

.share_this_article_to_facebook {
  order: 2;
  width: 38px;
  height: 38px;
}

.author_detail {
  order: 1;
  margin-right: auto;
  color: #b2b2b2;
  font-size: 12px;
}

.author_name {
  display: block;
}

.publish_time {
  display: block;
}

.article_seperator {
  margin: 15px 0;
  background-color: #b2b2b2;
}

.article_body {
  width: 100%;
}

.article_img {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.article_content {
  color: #555555;
  font-size: 16px;
}

.article_author {
  width: 100%;
  margin: 30px 0;
  border-top: 1px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
  padding: 30px;
  
}

.author_profile {
  width: 100%;
  display: flex;
  align-items: center;
}

.author_profile_img {
  width: 115px;
  display: block;
  margin-right: 15px;
  border-radius: 50%;
}

.author_description {
  width: calc(100% - 130px);
}

.author_title_name {
  display: block;
  width: 100%;
  color: #e66e0f;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
}

.author_description_name {
  display: block;
  width: 100%;
  color: #525a6a;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
}

.author_description_short {
  display: block;
  width: 100%;
  color: #555555;
  font-size: 12px;
}

.article_footer {
  width: 100%;
  margin-top: 10px;
}

.message_section {
  width: 100%;
}

.message_section_title {
  color: #747474;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 24px;
}

.message_history {
  width: 100%;
}

.message_unit {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
}

.message_user_profile {
  width: 50px;
  margin-right: 10px;
  flex: 0 0 50px;
  height: 50px;
}

.message_user_profile_img {
  width: 100%;
  height: 100%;
}

.message_user_part {
  flex: 1 1 auto;
}

.message_user_name {
  color: #525a6a;
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

.message_content {
  font-size: 12px;
  color: #555555;
}

.leaving_message_section {
  width: 100%;
}

.unlogin_message_hint {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #d4d4d4;
  color: #747474;
  font-size: 16px;
  text-align: center;
}

.leaving_message_block {
  display: flex;
}

.login_user_profile_img {
  display: block;
  flex: 0 0 50px;
  height: 50px;
  margin-right: 10px;
}

.leaving_message_content{
  flex: 1 1 auto;
  height: 150px;
  border: solid 1px #c3c3c3;
  background-color: #ffffff;
  resize: none;
  font-size: 14px;
  color: #525a6a;
  outline: none;
}

.leaving_message_submit_container {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.leaving_message_submit_btn {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 12px;
  color: #ffffff;
  background-color: #e66e0f;
}

/* RWD Start =================================== */
@media (min-width: 640px) {

  .column_title {
    font-size: 24px;
  }

  .article_header {
    display: flex;
  }

  .article_header_primary {
    max-width: 400px;
    margin-bottom: 0;
    margin-right: auto;
  }

  .article_header_secondary {
    flex-direction: column;
    width: auto;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .share_this_article_to_facebook {
    margin-bottom: 15px;
  }

  .author_detail {
    order: 2;
  }

  .author_detail {
    font-size: 14px;
  }

  .author_name,
  .publish_time {
    text-align: right;
  }

  .category-badge {
    font-size: 14px;
  }

  .article_seperator {
    margin: 20px 0;
    margin-top: 10px;
    background-color: #b2b2b2;
  }

  .article_content {
    font-size: 18px;
  }

  .author_profile_img {
    width: 140px;
  }

  .author_description_name {
    font-size: 18px;
  }

  .author_title_name {
    font-size: 18px;
  }

  .author_description_short {
    font-size: 14px;
  }

  .message_section_title {
    font-size: 24px;
  }

  .message_user_profile {
    width: 80px;
    margin-right: 20px;
    flex: 0 0 80px;
    height: 80px;
  }

  .message_user_name {
    font-size: 18px;
  }

  .message_content {
    font-size: 14px;
  }

  .login_user_profile_img {
    flex: 0 0 80px;
    height: 80px;
    margin-right: 20px;
  }

  .leaving_message_content {
    font-size: 16px;
  }

  .leaving_message_submit_btn {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .message_content {
    font-size: 16px;
  }

  .author_description_short {
    font-size: 16px;
  }

  .author_description_name {
    font-size: 20px;
  }

  .author_title_name {
    font-size: 20px;
  }

  .message_user_name {
    font-size: 20px;
  }

  .share_this_article_to_facebook {
    width: 45px;
    height: 45px;
  }

  .unlogin_message_hint {
    padding: 20px;
    color: #747474;
    font-size: 18px;
  }
}

@media (min-width: 991px) {
  .unlogin_message_hint {
    padding: 25px;
    color: #747474;
    font-size: 20px;
    margin-top: 30px;
  }
}

/*
@media (min-width: 375px) {}
@media (min-width: 480px) {}
@media (min-width: 640px) {}
@media (min-width: 768px) {}
@media (min-width: 991px) {}
@media (min-width: 1024px) {}
@media (min-width: 1200px) {}
@media (min-width: 1350px) {}
*/