.publish_status_bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}

.publish_status_btn {
  font-size: 16px;
  color: #747474;
  font-weight: 500;
}

.published_btn {
  margin-right: 30px;
}

.publish_status_btn.active {
  color: #e66e0f;
}

.new_article_btn_wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.article_column_content .articles_wrapper {
  margin-top: 10px;
}

.article_manage_body {
  margin-top: 30px;
}

.edit_article_wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.article_manage_body .card-title.article_title {
  padding-left: 10px;
  position: relative;
  display: block;
  margin-top: 10px;
}

.article_manage_body .card-title.article_title::before {
  content: '';
  display: block;
  width: 3px;
  height: 53px;
  background-color: #e66e0f;
  position: absolute;
  left: 0;
  top: 7px;
  z-index: 2;
}

.article_manage_body .article_unit {
  padding-bottom: 0;
}

.article_detail_wrapper {
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: center;
}

.article_author_name {
  display: block;
  margin-right: auto;
  max-width: 40%;
  width: auto;
  font-size: 12px;
  color: #b2b2b2;
}

.article_manage_foot {
  margin-top: 30px;
}

/* RWD Start =================================== */
@media (min-width: 480px) {
  .publish_status_btn {
    font-size: 18px;
  }
}

@media (min-width: 640px) {
  .article_manage_foot {
    margin-top: 40px;
  }

  .edit_article_btn {
    font-size: 16px;
  }

  .new_article_btn {
    font-size: 16px;
  }

  .article_detail_wrapper {
    margin-top: auto;
  }

  .article_column_content .articles_wrapper {
    margin-top: 20px;
  }

  .article_manage_body .article_unit .card-body {
    padding: 30px;
    display: flex;
    flex-direction: column;
  }

  .article_manage_body .card-title.article_title {
    padding-left: 15px;
    margin-bottom: 30px;
  }

  .article_manage_body .card-title.article_title::before {
    height: 57px;
    top: 6px;
  }

  .article_detail_wrapper .article_author_name,
  .article_detail_wrapper .article_publish_time {
    font-size: 14px;
  }

  .publish_status_btn {
    font-size: 22px;
  }

  .published_btn {
    margin-right: 30px;
  }
}

@media (min-width: 768px) {
  .publish_status_btn {
    font-size: 26px;
  }

  .published_btn {
    margin-right: 40px;
  }
}

@media (min-width: 1024px) {
  .article_manage_foot {
    margin-top: 70px;
  }

  .publish_status_btn {
    font-size: 32px;
  }

  .published_btn {
    margin-right: 50px;
  }

  .new_article_btn {
    font-size: 18px;
  }

  .edit_article_btn {
    font-size: 18px;
  }

  .article_manage_body .card-title.article_title {
    font-size: 26px;
  }

  .article_manage_body .card-title.article_title::before {
    height: 65px;
    top: 10px;
    width: 4px;
  }

  .article_detail_wrapper .article_author_name, .article_detail_wrapper .article_publish_time {
    font-size: 16px;
  }

  .article_column_content .articles_wrapper {
    margin-top: 30px;
  }
}

@media (min-width: 1400px) {
  .publish_status_btn {
    font-size: 40px;
  }

  .published_btn {
    margin-right: 60px;
  }

  .new_article_btn {
    font-size: 20px;
  }

  .edit_article_btn {
    font-size: 20px;
  }

  .article_manage_body .card-title.article_title {
    font-size: 30px;
  }

  .article_manage_body .card-title.article_title::before {
    height: 75px;
    top: 10px;
    width: 5px;
  }

  .article_detail_wrapper .article_author_name, .article_detail_wrapper .article_publish_time {
    font-size: 18px;
  }

  .article_column_content .articles_wrapper {
    margin-top: 40px;
  }
}