*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1.5;
  word-break: break-word;
}

img {
  max-width: 100%;
  height: auto;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a, button {
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

input, textarea{
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

textarea {
  resize: none;
}



/* Utilities */

.hidden {
  display: none !important;
}

.block {
  display: block !important;
}

.flex {
  display: flex !important;
}

.justify-start {
  justify-content: flex-start !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.align-start {
  align-items: flex-start !important;
}

.align-center {
  align-items: center !important;
}

.align-end {
  align-items: flex-end !important;
}

.op0 {
  opacity: 0 !important;
  visibility: hidden !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.flex-col {
  flex-direction: column !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-auto {
  overflow: auto !important;
}

.overflow-y-auto {
  overflow-y: auto !important;
}

.overflow-y-hidden {
  overflow-y: hidden !important;
}

.overflow-x-auto {
  overflow-y: auto !important;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.w-100 {
  width: 100% !important;
}

.w-fullscreen {
  width: 100vw !important;
}

.h-fullscreen {
  height: 100vh !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.primary {
  margin-right: auto !important;
}

.unlogin-show {
  display: block !important;
}

.unlogin-show-flex {
  display: flex !important;
}

.unlogin-hide {
  display: none !important;
}

.logined .login-show {
  display: block !important;
}

.logined .login-show-flex {
  display: flex !important;
}

.logined .login-hide {
  display: none !important;
}

.bg-gray {
  background-color: #ececec !important;
}

.bg-black {
  background-color: #000000 !important;
}

.bg-null {
  background-color: transparent !important;
}

.max-w-1400 {
  max-width: 1400px;
}

.p-0 {
  padding: 0 !important;
}

.px-30 {
  padding: 0 30px !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.no-shadow {
  box-shadow: none !important;
}

.show-list-style ol li {
  list-style-type: decimal !important;
}
.show-list-style ul li {
  list-style-type: disc !important;
}

.select-none-appearance {
  /*移除箭頭樣式*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  outline: none;
}


/* Component */
.root {
  display: block;
  width: 100%;
  position: relative;
}

.container {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1072;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: auto;
}

.mask {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1072;
  background-color: #000000;
  opacity: 0.5;
}

.seperator {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000000;
}

.border-radius-6 {
  border-radius: 6px;
}

.btn-type-help-link {
  color: #1877f2;
}

.btn-type-help-link:hover {
  color: #1877f2;
}

.category-badge {
  padding: 5px 18px;
  box-shadow: 0 2px 4px 0 rgba(44, 39, 56, 0.08);
  background-color: #e66e0f;
  font-size: 12px;
  color: #ffffff;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.category-badge:last-child {
  margin-right: 0;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 3;
}

.breadcrumb-text {
  display: block;
  font-size: 14px;
  color: #b2b2b2;
  margin-bottom: 12px;
}

.breadcrumb-link {
  display: block;
  color: #525a6a;
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 12px;
}

.breadcrumb-link:hover {
  color: #525a6a;
}

.main-content-container {
  width: 100%;
  padding: 40px 30px;
  position: relative;
}

.main-content {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.page_content {
  width: 100%;
}

.column_name {
  display: block;
  width: 100%;
  color: #e66e0f;
  font-size: 24px;
}

.prev_img {
  transform: rotate(180deg);
}

/* Button */

.btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
  box-shadow: none;
  background: none;
  text-align: center;
  line-height: 1.5;
  font-size: 14px;
  width: auto;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.btn-type-nav {
  display: block;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(44, 39, 56, 0.08);
  background-color: #525a6a;
  font-size: 12px;
  padding: 6px 10px;
  color: #ffffff;
}

.btn-type-img {
  display: block;
  text-align: center;
}

.btn-type-modal {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-type-category {
  padding: 9px 35px;
  font-size: 12px;
  color: #b2b2b2;
  background-color: #ffffff;
}

.btn-type-category.active {
  color: #ffffff;
  background-color: #e66e0f;
}

.btn-submit {
  background-color: #fae646;
  color: #525a6a;
}

.view_more_btn {
  width: 185px;
  margin: 0 auto;
  margin-top: 50px;
}

.btn-group {
  width: 100%;
  margin-bottom: 30px;
}

.flex-btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-type-form-btn  {
  min-width: 90px;
  box-shadow: 0 4px 8px 0 rgba(44, 39, 56, 0.08);
  border-radius: 5px;
  font-size: 12px;
}

.save-article-style {
  border: solid 1px #e66e0f;
  color: #e66e0f;
  background-color: #ffffff;
}

.save-publish-article-style {
  border: solid 1px #e66e0f;
  color: #ffffff;
  background-color: #e66e0f;
}

.save-publish-article-style:hover,
.save-publish-article-style:focus {
  color: #ffffff;
}

.btn-type-img-text {
  display: flex;
  align-items: center;
}

.btn-type-img-text-img {
  display: block;
  margin-right: 8px;
}

.btn-type-switch {
  background-color: #ffffff;
  color: #b2b2b2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(44, 39, 56, 0.08);
}

.btn-type-switch.active {
  background-color: #e66e0f;
  color: #ffffff;
}

.brn-type-pagination {
  color: #525a6a;
}

.brn-type-pagination:hover,
.brn-type-pagination:focus {
  color: #525a6a;
}

.btn-type-outline {
  min-width: 85px;
  max-width: 140px;
  border: 1px solid #756f86;
  background-color: transparent;
  color: #756f86;
  padding: 6px 12px;
  display: block;
  border-radius: 6px;
}

.btn-type-full {
  width: 100%;
}

.classification_group {
  width: 100%;
  display: flex;
}

.btn-type-classification {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(44, 39, 56, 0.08);
  font-size: 12px;
  color: #b2b2b2;
  padding: 12px 20px;
}

.btn-type-classification.active {
  background-color: #e66e0f;
  color: #ffffff;
}

/* Button Style */
.btn-type-link {
  color: #1877f2;
}

.btn-type-link:hover,
.btn-type-link:focus {
  color: #1877f2;
}

.btn-style-red {
  color: #e81a1a;
}

.btn-style-red:hover,
.btn-style-red:focus {
  color: #e81a1a;
}

.btn-style-orange {
  color: #e66e0f;
  border-color: #e66e0f;
}

.btn-style-orange:hover,
.btn-style-orange:focus {
  color: #e66e0f;
}

/* Card */

.card {
  width: 100%;
  position: relative;
  box-shadow: 14px 7px 24px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.card-img {
  display: block;
  width: 100%;
}

.card-body {
  width: 100%;
  padding: 15px;
}

.card-time {
  font-size: 12px;
  color: #b2b2b2;
  display: block;
  margin-bottom: 6px;
}

.card-title {
  font-size: 22px;
  color: #747474;
}

.card-content {
  color: #747474;
  font-size: 16px;
}

/* Form Input */
.form-group {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.input-label {
  color: #747474;
  font-size: 14px;
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

.text-input {
  display: block;
  width: 100%;
  border: solid 1px #c3c3c3;
  background-color: #ffffff;
  padding: 5px 12px;
  font-size: 14px;
}

.error .text-input {
  border-color: #e81a1a;
}

.error_span {
  color: #e81a1a;
}

.file-input {
  display: none;
}

.text-textarea {
  resize: none;
  outline: none;
  font-size: 14px;
  padding: 5px 12px;
}

.tooltip_btn {
  position: relative;
}

.tooltip {
  position: absolute;
  z-index: 2;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 15px;
  min-width: 180px;
  top: 0;
  transform: translateY(-120%);
  left: 0;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.no-content .no-content-container {
  display: block;
}

.no-content .has-content-container {
  display: none;
}

.no-content-container {
  display: none;
}

.no_content_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
}

.no-content-img {
  width: 50px;
  display: block;
  margin-right: 30px;
}

.no-content-text {
  font-size: 20px;
  color: #b2b2b2;
}

.mutiple-select {
  display: flex;
  flex-direction: column;
}

.category-input-checkbox-label {
  padding: 5px 8px;
  border: 1px solid #747474;
  color #747474;
  font-size: 14px;
  border-radius: 5px;
  background-color: transparent;
}

.input-checkbox:checked + .category-input-checkbox-label {
  background-color: #e66e0f;
  border-color: #e66e0f;
  color: #ffffff;
}

.unupload_box {
  width: 150px;
  background-color: #d2d2d2;
  padding: 1rem;
  margin-bottom: 1rem;
}

.unupload_img_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unupload_img {
  display: block;
  width: 80px;
}

.unupload_hint {
  display: block;
  width: 100%;
  margin-top: 1rem;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
}

/* RWD Start =================================== */

@media (min-width: 640px) {
  .sm-hidden {
    display: none !important;
  }

  .sm-block {
    display: block !important;
  }

  .sm-flex {
    display: flex !important;
  }

  .btn-type-nav {
    font-size: 14px;
  }

  .breadcrumb-link {
    font-size: 16px;
    margin-right: 12px;
    margin-bottom: 18px;
  }

  .breadcrumb-text {
    font-size: 16px;
    margin-bottom: 18px;
  }

  .column_name {
    font-size: 28px;
  }

  .form-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
  }

  .form-group.align-items-top {
    align-items: flex-start;
  }

  .input-label {
    flex: 0 0 90px;
    width: 90px;
    margin-right: 20px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-size: 16px;
  }

  .text-input {
    flex: 1 1 auto;
    width: auto;
    font-size: 16px;
  }

  .text-textarea {
    font-size: 16px;
  }

  .btn-type-form-btn  {
    min-width: 120px;
    border-radius: 5px;
    font-size: 16px;
  }

  .card-time {
    font-size: 14px;
  }

  .btn-type-classification {
    font-size: 16px;
    padding: 15px 25px;
  }

  .category-input-checkbox-label {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .md-hidden {
    display: none !important;
  }

  .md-block {
    display: block !important;
  }

  .md-flex {
    display: flex !important;
  }

  .view_more_btn {
    width: 203px;
    margin-top: 60px;
  }

  .btn-type-category {
    padding: 12px 40px;
    font-size: 16x;
  }

  .mutiple-select {
    flex-direction: row;
    width: 100%;
  }

  .mutiple-select .member-group {
    width: 227px;
  }

  /* .breadcrumb-link {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .breadcrumb-text {
    font-size: 20px;
  } */

  .btn-type-outline {
    padding: 10px 25px;
    border-radius: 12px;
    font-size: 16px;
  }

  .column_name {
    font-size: 32px;
  }

  .no_content_box {
    min-height: 50vh;
  }
  
  .no-content-img {
    width: 100px;
  }
  
  .no-content-text {
    font-size: 35px;
  }

  .btn-type-classification {
    font-size: 20px;
    padding: 20px 30px;
    max-width: 226px
  }

  .unupload_box {
    width: auto;
  }
}

@media (min-width: 991px) {
  .lg-hidden {
    display: none !important;
  }

  .lg-block {
    display: block !important;
  }

  .lg-flex {
    display: flex !important;
  }

  .column_name {
    font-size: 36px;
  }
}

@media (min-width: 1024px) {
  .input-label {
    font-size: 20px;
  }

  .text-input {
    font-size: 20px;
    padding: 8px 15px;
  }

  .form-group {
    margin-bottom: 40px;
  }

  .btn-group {
    margin-bottom: 40px;
  }


  .breadcrumb-link {
    font-size: 20px;
  }

  .breadcrumb-text {
    font-size: 20px;
  }

  .category-input-checkbox-label {
    font-size: 20px;
  }

  .unupload_hint {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .xl-hidden {
    display: none !important;
  }

  .xl-block {
    display: block !important;
  }

  .xl-flex {
    display: flex !important;
  }

  .column_name {
    font-size: 48px;
  }
}

@media (min-width: 1400px) {
  .column_name {
    font-size: 54px;
  }
}

@media (min-width: 1400px) {
  .unupload_img {
    width: 120px;
  }

  .unupload_hint {
    font-size: 20px;
  }
}

/*
@media (min-width: 375px) {}
@media (min-width: 480px) {}
@media (min-width: 640px) {}
@media (min-width: 768px) {}
@media (min-width: 991px) {}
@media (min-width: 1024px) {}
@media (min-width: 1200px) {}
@media (min-width: 1350px) {}
*/