.demand_list_content {
  width: 100%;
  position: relative;
}

.demand-head {
  width: 100%;
  display: flex;
  align-items: center;
}

.column_name {
  flex: 0 0 auto;
  width: 50%;
  margin-right: auto;
}

.new_demand_btn {

}

.demand-body {
  width: 100%;
}

.no_demand_list {
  width: 100%;
}

.demand_list_container {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.demand_list_box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.demand_unit {
  width: 100%;
  background-color: #ffffff;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 2px 14px 17px 0 rgba(44, 39, 56, 0.04);
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
}

.demand_title {
  font-size: 22px;
  font-weight: 500;
  color: #525a6a;
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

.demand_published_time {
  display: block;
  width: 100%;
  color: #b2b2b2;
  font-size: 15px;
  margin-bottom: 15px;
}

.demand_btn_group {
  width: 100%;
  display: flex;
  margin-bottom: 0;
  align-items: center;
}

.demand_btn {
  width: calc(50% - 7px);
  box-shadow: 0 4px 8px 0 rgba(44, 39, 56, 0.08);
  border: solid 1px #dbe2ea;
  max-width: initial;
}

.close_demand_btn {
  margin-right: auto;
}

/* RWD Start =================================== */

@media (min-width: 640px) {
  .demand_list_box {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .demand_unit {
    width: calc(50% - 15px);
    padding: 25px 30px;
    margin-bottom: 30px;
    margin-right: 30px;
  }
  
  .demand_unit:nth-child(2n + 2) {
    margin-right: 0;
  }

  .demand_title {
    font-size: 28px;
  }
  
  .demand_published_time {
    font-size: 16px;
    margin-bottom: 16px;
  }

  .column_name {
    width: auto;
    margin-right: 30px;
  }
}

@media (min-width: 991px) {
  .demand_list_box {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .demand_btn {
    padding-left: 10px;
    padding-right: 10px;
  }

  .demand_unit {
    width: calc(33.3333% - 20px);
    padding: 30px 40px;
  }
  
  .demand_unit:nth-child(2n + 2) {
    margin-right: 30px;
  }

  .demand_unit:nth-child(3n + 3) {
    margin-right: 0;
  }
}

@media (min-width: 1400px) {
  .demand_list_box {
    max-width: 1200px;
    margin: 0 auto;
  }
}