.demand-match-result-head,
.demand-match-result-body,
.demand-match-result-foot {
  width: 100%;
}

.match_result_id {
  display: block;
  width: 100%;
  margin-top: 12px;
  font-size: 18px;
  font-weight: 600;
  color: #b2b2b2;
}

.demand-match-result-body {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.demand_match_outer {
  width: 100%;
}

.demand_match_unit {
  width: 100%;
  margin-bottom: 10px;
}

.demand_match_item {
  display: block;
  font-weight: normal;
  font-size: 13px;
  color: #b2b2b2;
}

.demand_match_content {
  font-size: 22px;
  color: #525a6a;
  display: block;
}

.demand_match_seperator {
  margin-bottom: 40px;
  background-color: #fae646;
  height: 5px;
}

/* RWD Start =================================== */

@media (min-width: 768px) {
  .demand-match-result-body {
    margin-top: 36px;
    margin-bottom: 36px;
    flex-direction: row;
  }

  .demand_match_outer1 {
    margin-right: auto;
    width: 27%;
  }

  .demand_match_outer2 {
    margin-right: auto;
    width: 36%;
  }

  .demand_match_outer3 {
    width: 27%;
    margin-right: 0;
  }

  .match_result_id {
    margin-top: 15px;
    font-size: 24px;
  }

  .demand_match_item {
    font-size: 20px;
  }

  .demand_match_content {
    font-size: 26px;
  }
}

@media (min-width: 1024px) {
  .match_result_id {
    margin-top: 20px;
    font-size: 35px;
  }

  .demand_match_item {
    font-size: 25px;
  }

  .demand_match_content {
    font-size: 30px;
  }
}