.new_demand_form {
  width: 100%;
  display: block;
  margin-top: 30px;
}

.demand_region_select {
  margin-top: 15px;
}

.checkbox-input-group {
  width: 100%;
}

.contact_input {
  margin-left: 15px;
  flex: 1 1 auto;
  border: solid 1px #c3c3c3;
  padding: 7px 12px;
  color: #747474;
  font-size: 16px;
  max-width: 510px;
}

.textarea-group {
  width: 100%;
}

.remark_textarea {
  width: 100%;
  height: 150px;
  padding: 15px;
  border: solid 1px #c3c3c3;
  font-size: 16px;
}

.add_new_demand_btn {
  width: 183px;
}

.add_new_demand_img {
  width: 100%;
}

/* RWD Start =================================== */

@media (min-width: 768px) {
  .demand_region_select {
    margin-top: 0;
    margin-left: 15px;
  }
}

@media (min-width: 1024px) {
  .contact_input {
    font-size: 20px;
  }

  .remark_textarea {
    font-size: 20px;
  }

  .add_new_demand_btn {
    width: 250px;
  }
}