.demand-match-result-coach-head,
.demand-match-result-coach-body {
  width: 100%;
}

.demand_match_result_for_coach_container {
  width: 100%;
  margin-top: 30px;
}

.coach_match_result_unit {
  width: 100%;
  border-left: 9px solid #f6ee20;
  box-shadow: 2px 14px 17px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 30px;
}

.coach_match_result_unit.open {
  border: solid 1px #f6ee20;
}

.coach_match_result_head {
  width: 100%;
  display: flex;
}

.match_name_container {
  margin-right: auto;
}

.match_name {
  font-size: 24px;
  font-weight: 500;
  color: #525a6a;
}

.match_span {
  display: block;
  font-size: 12px;
  color: #747474;
}

.match_id_time_container .match_span{
  text-align: right;
}

.get_contact_btn {
  margin-top: 12px;
}

.open .match_head_hide {
  display: none;
}

.coach_match_result_body {
  display: none;
  margin-top: 30px;
}

.open .coach_match_result_body {
  display: block;
}

.coach_match_result_foot {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.toggle_body_btn {
  width: 40px;
}

.open .toggle_body_btn_img {
  transform: rotate(180deg);
}

.lightbox_contact_line {
  text-align: left;
}

/* RWD Start =================================== */

@media (min-width: 640px) {
  .coach_match_result_unit {
    padding: 30px;
  }

  .match_name {
    font-size: 28px;
  }

  .match_span {
    display: block;
    font-size: 14px;
    color: #747474;
  }

  .open .coach_match_result_body {
    display: flex;
  }
}

@media (min-width: 768px) {
  .match_name_container,
  .match_id_time_container {
    /* flex: 1 1 30%; */
  }

  .match_id_time_container {
    display: flex;
    flex-direction: column;
  }

  .get_contact_btn {
    align-self: flex-end;
    padding: 10px 25px;
    max-width: initial;
  }

  .match_name {
    font-size: 32px;
  }

  .match_span {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {

  .coach_match_result_unit {
    padding: 45px;
  }

  .match_name {
    font-size: 40px;
  }

  .match_span {
    font-size: 18px;
  }

  .demand_match_result_for_coach_container {
    margin-top: 45px;
  }

  .coach_match_result_foot {
    margin-top: 45px;
  }

  .toggle_body_btn {
    width: 60px;
  }

  .demand_match_unit {
    margin-bottom: 18px;
  }
}

@media (min-width: 1200px) {

  .coach_match_result_unit {
    padding: 60px;
  }

  .match_name {
    font-size: 43px;
  }

  .match_span {
    font-size: 20px;
  }

  .demand_match_result_for_coach_container {
    margin-top: 60px;
  }

  .coach_match_result_foot {
    margin-top: 60px;
  }

  .toggle_body_btn {
    width: 73px;
  }

  .demand_match_unit {
    margin-bottom: 26px;
  }
}