.footer {
  width: 100%;
  background-color: #101010;
  padding: 30px;
}

.footer-container {
  max-width: 1400px;
  margin: 0 auto;
}

.footer-body {
  margin-top: 10px;
  width: 100%;
}

.foot_logo {
  width: 260px;
  display: block;
  margin: 0 auto;
}

.mid-detail {
  display: block;
  width: 100%;
  margin: 18px 0;
}

.foot-detail {
  display: block;
  width: 100%;
  color: #ffffff;
  margin-bottom: 15px;
  text-align: center;
  font-size: 14px;
}

.foot-detail:last-child {
  margin-bottom: 0;
}

.foot-links {
  display: block;
  width: 100%;
  margin: 18px 0;
}

.foot-link {
  display: block;
  width: 100%;
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 14px;
  text-align: center;
}

.footer-seperator {
  background-color: #ffffff;
}

.footer-foot {
  width: 100%;
  padding: 20px;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyrights {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #b2b2b2;
}

@media (min-width: 640px) {

  .foot-links {
    margin: 24px 0;
  }
}

@media (min-width: 991px) {
  .footer-body {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1400px;
  }

  .foot_logo {
    margin: 0;
    margin-right: auto;
    flex: 0 0 300px;
  }

  .mid-detail {
    margin: 0;
    margin-right: auto;
    flex: 0 0 auto;
    max-width: 300px;
  }

  .foot-detail {
    text-align: left;
    padding-left: 20px;
  }

  .foot-links {
    margin: 0;
    flex: 0 0 auto;
    max-width: 300px;
  }

  .foot-link {
    text-align: left;
  }

  .footer-foot {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .copyrights {
    text-align: right;
  }
}

@media (min-width: 1200px) {
  .footer {
    padding: 45px;
  }

  .foot_logo {
    flex: 0 0 320px;
  }
}

@media (min-width: 1400px) {
  .footer {
    padding: 60px;
  }

  .foot_logo {
    flex: 0 0 340px;
  }
}