.header {
  width: 100%;
  padding: 20px 30px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  position: relative;
  background-color: #ffffff;
  z-index: 3;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.nav-group {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  width: 100px;
  margin-right: 15px;
}

.anchor {
  color: #525a6a;
  font-size: 20px;
}

.service_browser_anchor {
  font-size: 16px;
}

.show_login_modal_btn {
  margin-right: 15px;
}

.go_member_center_btn {
  margin-right: 15px;
  font-size: 14px;
  background-color: #ffffff;
  border-radius: 0;
  border: solid 1px #dbe2ea;
  box-shadow: 0 2px 4px 0 rgba(44, 39, 56, 0.08);
  color: #525a6a;
}

.dropdown-menu {
  display: block;
}

.hamburger_btn {
  width: 28px;
  height: 28px;
  padding: 0;
}

.opend .menu_open {
  display: none;
}

.menu_close {
  display: none;
}

.opend .menu_close {
  display: inline;
}

.hamburger-line {
  width: 100%;
  height: 4px;
  background-color: #525a6a;
}

.dropdown-list {
  display: none;
  width: 150px;
  position: absolute;
  top: 70px;
  right: 30px;
  z-index: 2000;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  margin: 0;
  border-radius: 20px;
}

.dropdown-unit {
  max-width: 1400px;
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid #b2b2b2;
}

.dropdown-unit:last-child {
  border-bottom: none;
}

.dropdown-link {
  display: block;
  margin: 0 auto;
  font-size: 14px;
  padding: 10px 0;
  color: #525a6a;
  text-align: center;
}

/* RWD Start =================================== */

@media (min-width: 375px) {
  .logo {
    width: 150px;
  }

  .dropdown-list {
    top: 80px;
  }
}

@media (min-width: 640px) {
  .logo {
    width: 200px;
  }

  .service_browser_anchor {
    font-size: 18px;
  }

  .hamburger_btn {
    width: 36px;
    height: 36px;
  }

  .dropdown-list {
    top: 94px;
  }

  .dropdown-link {
    font-size: 16px;
    padding: 12px 0;
  }
}

@media (min-width: 768px) {
  .logo {
    width: 280px;
  }

  .dropdown-list {
    top: 116px;
  }
}
/*
@media (min-width: 375px) {}
@media (min-width: 480px) {}
@media (min-width: 640px) {}
@media (min-width: 768px) {}
@media (min-width: 991px) {}
@media (min-width: 1024px) {}
@media (min-width: 1200px) {}
@media (min-width: 1350px) {}
*/