.sec {
  display: block;
  width: 100%;
  position: relative;
}

.sec-content {
  width: 100%;
}

.index-main-content {
  width: 100%;
}

.landing_primary {
  margin-bottom: 30px;
}

.carousel_container {
  width: 100%;
}

.carousel_unit {
  display: block;
  width: 100%;
}

.carousel_mob_img {
  width: 100%;
}

.steps_section {
  width: 100%;
  background-color: #525a6a;
  padding: 60px 0 0 0;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step_unit {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.step_order_img {
  min-width: 57px;
  max-width: 85px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.step3 {
  margin-bottom: 0;
}

.step_detail {
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 30px;
  padding-bottom: 0;
  color: #ffffff;
}

.step_title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

.step_description {
  display: block;
  font-size: 14px;
}

.color_bars {
  width: 100%;
  margin-top: 60px;
  display: flex;
  align-items: center;
}

.color_bar {
  height: 16px;
}

.primary_bar {
  flex: 1 1 91px;
  background-color: #fd9e1c;
}

.secondary_bar {
  flex: 1 1 81px;
  background-color: #525a6a;
}

.tertiary_bar {
  flex: 3 3 203px;
  background-color: #b2b2b2;
}

.service_browse_section {
  width: 100%;
  padding: 60px 30px 45px 30px;
  /* padding-top: 60px; */
  /* padding-bottom: 45px; */
}

.service_browse_content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service_browse_unit {
  width: calc(50vw - 43px);
  height: calc(50vw - 43px);
  margin-right: 8px;
  margin-bottom: 15px;
  display: block;
  position: relative;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: black;
}

.service_browse_unit:nth-child(2n+2) {
  margin-right: 0;
}

.service_browse_detail {
  width: calc(100% - 30px);
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.service_browse_title {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}

.service_browse_en_title {
  color: #ffffff;
  font-size: 12px;
}

.teacher_and_articles_section {
  width: 100%;
  padding: 60px 30px;
  background-color: #ececec;
}

.motion_energy_decoration {
  width: 298px;
  position: absolute;
  top: -8.5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.teacher_and_articles_content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.teacher_part {
  width: 100%;
}

.teacher_part .view_more_btn {
  margin-top: 10px;
  margin-bottom: 40px;
}

.articles_part {
  width: 100%;
  margin: 0 auto;
}

.teacher_wrapper {
  margin-top: 40px;
  width: 100%;
  display: flex;
}

.teacher_carousel_prev,
.teacher_carousel_next {
  flex: 0 0 40px;
}

.teacher_carousel_prev {
  margin-right: 15px;
}

.teacher_carousel_next {
  margin-left: 15px;
}

/* Slick Plugin Css Adjustment */
.slick-next,
.slick-prev {
  width: 40px;
  height: 40px;
  opacity: 0;
}

.slick-next {
  right: -58px
}

.slick-prev {
  left: -58px
}
/* Slick Plugin Css Adjustment End */

.teacher_carousel {
  display: block;
  width: calc(100% - 110px);
  flex: 1 1 auto;
}

.teacher_link_unit_box {
  width: 100%;
  margin-bottom: 30px;
  margin-right: 20px;
}

.teacher_link_unit {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.teacher_face_img {
  width: 100%;
}

.teacher_seperator {
  background-color: #fae646;
  height: 3px;
}

.teacher_name_box {
  width: 100%;
  background-color: #525a6a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.teacher_name {
  color: #ffffff;
  font-size: 16px;
}

.articles_wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
}

.article_unit {
  display: block;
  margin-bottom: 30px;
  padding-bottom: 65px;
}

.article_unit:last-child {
  margin-bottom: 0;
}

.article_body {
  display: flex;
  flex-direction: column;
}

.article_link_tag {
  display: block;
  width: 25%;
  position: absolute;
  right: 0;
  bottom: 25px;
  max-width: 140px;
  z-index: 2;
  background-color: #f6ee20;
  padding: 8px 15px;
  font-size: 12px;
  font-weight: 500;
  color: #747474;
  text-align: center;
}

.theme-title-unit {
  width: 120px;
  margin: 0 auto;
}

.theme-title-text {
  width: inline-block;
  font-size: 30px;
  font-weight: 500;
}

.theme-white {
  color: #ffffff;
}

.theme-gray {
  color: #707070;
}

.theme-title-underline {
  width: 100%;
  height: 3px;
  background-color: #fae646;
}

.theme-wrapper {
  width: 100%;
  margin-top: 40px;
}

.activity_section {
  width: 100%;
  background-color: #666666;
  padding: 40px 30px;

  background-image: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.activity_container {
  margin: 0 auto;
}

.activity_link_unit {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

.activity_link_unit:last-child {
  margin-bottom: 0;
}

.activity_img {
  width: 100%;
}

.activity_name {
  display: block;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  margin-top: 15px;
}

.title_author_container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.author_title {
  font-size: 16px;
  color: #e66e0f;
  display: block;
  margin-right: 5px;
  font-weight: normal;
}

.author_name {
  font-size: 16px;
  color: #b2b2b2;
  display: block;
  font-weight: normal;
}

/* RWD Start =================================== */
@media (min-width: 375px) {
  .service_browse_unit {
    width: calc(50vw - 43px);
    height: calc(50vw - 43px);
    margin-right: 8px;
    margin-bottom: 15px;
  }
  
  .service_browse_title {
    font-size: 16px;
  }
}

@media (min-width: 480px) {
  .motion_energy_decoration {
    width: calc(100% - 80px);
    min-width: 298px;
    max-width: 1180px;
    top: -0.5%;
  }
}

@media (min-width: 640px) {
  .carousel_web_img {
    display: block !important;
    width: 100%;
    /* height: 946px; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
  }

  .article_unit {
    display: flex;
    padding-bottom: 0;
  }

  .article_img {
    width: 40%;
    max-width: 400px;
    min-height: 300px;
  }

  .article_unit .card-body {
    padding: 50px 130px 45px 40px;
    /* padding-right: 130px; */
  }

  .article_link_tag {
    width: 25%;
    right: -15px;
    bottom: 25px;
    max-width: 140px;
    padding: 8px 25px;
    font-size: 14px;
  }

  .acticity_wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .activity_section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(../img/web_activityback.png);
  }

  .activity_link_unit {
    width: calc(50% - 10px);
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .activity_link_unit:nth-child(2n+2) {
    margin-right: 0;
  }

  .title_author_container {
    margin-top: auto;
  }
}

@media (min-width: 768px) {
  .steps_section {
    padding-top: 70px;
  }

  .color_bars {
    margin-top: 70px;
  }

  .steps_section .sec-content {
    margin: 0 auto;
  }

  .steps {
    width: 100%;
    flex-direction: row;
    margin: 0 auto;
  }

  .step_unit {
    width: 33.3333%;
  }

  .step_detail {
    padding-left: 50px;
    padding-right: 60px;
  }

  .service_browse_unit {
    width: calc(40vw - 45px);
    height: calc(40vw - 45px);
    margin-right: 25px;
    margin-bottom: 25px;
    max-width: 447px;
    max-height: 447px;
  }

  .service_browse_unit:nth-child(2n+2) {
    margin-right: 0;
  }

  .service_browse_title {
    font-size: 20px;
  }

  .service_browse_en_title {
    font-size: 14px;
  }

  .teacher_link_unit_box {
    width: calc(50% - 40px);
  }

  .teacher_link_unit {
    /* width: calc(33.333% - 16.666px); */
    /* margin-right: 25px; */
    /* margin-bottom: 25px; */
  }

  /* .teacher_link_unit:nth-child(2n+2) {
    margin-right: 25px;
  }

  .teacher_link_unit:nth-child(3n+3) {
    margin-right: 0;
  } */

  .teacher_part .view_more_btn {
    margin-top: 60px;
    margin-bottom: 90px;
  }

  .activity_link_unit {
    width: calc(33.3333% - 25px);
    margin-right: 25px;
    margin-bottom: 25px;
    max-width: 436px;
  }

  .activity_link_unit:nth-child(2n+2) {
    margin-right: 25px;
  }

  .activity_link_unit:nth-child(3n+3) {
    margin-right: 0px;
  }

  .activity_name {
    text-align: left;
  }

  .acticity_wrapper {
    margin-top: 80px;
  }

  .service_browse_section {
    padding: 60px 0 45px 0;
  }

  .service_browse_content {
    padding-left: 100px;
    padding-right: 100px;
  }

  .teacher_carousel_prev,
  .teacher_carousel_next {
    flex: 0 0 60px;
  }

  .teacher_carousel_prev {
    margin-right: 15px;
  }

  .teacher_carousel_next {
    margin-left: 15px;
  }

  /* Slick Plugin Css Adjustment */
  .slick-next,
  .slick-prev {
    width: 60px;
    height: 60px;
  }

  .slick-next {
    right: -80px
  }

  .slick-prev {
    left: -80px
  }
  /* Slick Plugin Css Adjustment End */

  .teacher_carousel {
    width: calc(100% - 150px);
  }
}

@media (min-width: 1024px) {
  /* .teacher_link_unit {
    width: calc(25% - 25px);
    max-width: 312px;
  }

  .teacher_link_unit:nth-child(2n+2) {
    margin-right: 25px;
  }

  .teacher_link_unit:nth-child(3n+3) {
    margin-right: 25px;
  }

  .teacher_link_unit:nth-child(4n+4) {
    margin-right: 0;
  } */

  .teacher_name {
    font-size: 20px;
  }

  .motion_energy_decoration {
    top: -1%;
  }

  .teacher_and_articles_section {
    padding-top: 120px;
    padding-bottom: 90px;
  }

  .theme-title-unit {
    width: 260px;
  }

  .theme-title-underline {
    height: 6px;
  }

  .theme-title-text {
    font-size: 64px;
  }

  .activity_section {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url(../img/web_activityback.png);
  }

  .activity_section .view_more_btn {
    margin-bottom: 40px;
    margin-top: 100px;
  }

  .acticity_wrapper {
    margin-top: 100px;
  }

  .title_author_container {
    /* margin-top: 50px; */
  }
}

@media (min-width: 1200px) {
  .title_author_container {
    /* margin-top: 60px; */
  }

  .service_browse_title {
    font-size: 30px;
  }

  .service_browse_en_title {
    font-size: 18px;
  }

  .step_order_img {
    left: 60px;
  }

  .step_detail {
    max-width: 320px;
    margin: 0 auto;
  }

  .motion_energy_decoration {
    width: calc(100% - 80px);
    position: absolute;
    left: 78px;
    transform: initial;
  }

  .service_browse_unit {
    width: calc(22vw - 45px);
    height: calc(22vw - 45px);
  }

  .service_browse_content {
    padding-left: 200px;
    padding-right: 200px;
  }

  .service_browse_unit:nth-child(2n+2) {
    margin-right: 25px;
  }

  .service_browse_unit:nth-child(3n+3) {
    margin-right: 0;
  }

  .title_author_container {
    /* margin-top: 70px; */
  }
}

@media (min-width: 1400px) {

  .teacher_link_unit_box {
    width: calc(25% - 30px);
    margin-right: 30px;
  }

  .service_browse_content {
    padding-left: 265px;
    padding-right: 265px;
  }

  .teacher_carousel_prev,
  .teacher_carousel_next {
    flex: 0 0 80px;
  }

  .teacher_carousel_prev {
    margin-right: 20px;
  }

  .teacher_carousel_next {
    margin-left: 20px;
  }

  /* Slick Plugin Css Adjustment */
  .slick-next,
  .slick-prev {
    width: 80px;
    height: 80px;
  }

  .slick-next {
    right: -105px
  }

  .slick-prev {
    left: -105px
  }
  /* Slick Plugin Css Adjustment End */

  .teacher_carousel {
    width: calc(100% - 200px);
  }
}

@media (min-width: 1500px) {
  .motion_energy_vertical_dots {
    width: 109px;
    display: block !important;
    position: absolute;
    transform: rotate(90deg);
    left: 10px;
    top: 40px;
    z-index: 0;
  }

  .articles_part {
    position: relative;
  }

  .motion_energy_horizonal_dots {
    width: 109px;
    display: block !important;
    position: absolute;
    left: -100px;
    top: -160px;
    z-index: 0;
  }

  .article_unit .card-body {
    padding-right: 115px;
  }

  .article_link_tag {
    width: 25%;
    right: -30px;
    bottom: 25px;
    max-width: 140px;
    padding: 8px 25px;
    font-size: 14px;
  }
}

@media (min-width: 1920px) {
  .service_browse_unit {
    width: calc(24vw - 45px);
    height: calc(24vw - 45px);
  }
}