.lightbox {
  display: none;
  width: calc(100vw - 60px);
  max-width: 432px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background-color: #fff;
  box-shadow: 11px 14px 17px 0 rgba(44, 39, 56, 0.08);
  border-radius: 20px;
  z-index: 1073;
}

.close_lightbox_btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
}

.lightbox-container {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cropper_img {
  max-width: 100%;
  display: block;
}

.lightbox-text {
  width: 100%;
  font-size: 16px;
  color: #525a6a;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
}
.lightbox-btns {
  width: 100%;
  display: none;
  justify-content: center;
}

.show_btn .lightbox-btns {
  display: flex;
}


.lightbox_cancel_btn {
  margin-right: 15px;
}

/* RWD Start =================================== */
@media (min-width: 640px) {
  .lightbox-text {
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}