.yet_establish_pro_file_section {
  border-radius: 24px;
}

.no_content_box {
  min-height: initial;
  padding: 30px 0;
}

.establish_pro_file_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.establish_pro_file_btn {
  padding: 10px 15px;
}