
.mob_container,
.web_container {
  width: 100%;
}

.mob_entering_data_box {
  width: 100%;
}

.entering_data_unit {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 24px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  padding: 35px 30px;
}

.entering_data_line {
  width: 100%;
  margin-bottom: 25px;
}

.entering_title {
  width: 100%;
  display: block;
  color: #747474;
  font-weight: normal;
  font-size: 15px;
}

.entering_content {
  width: 100%;
  display: block;
  color: #b2b2b2;
  font-size: 12px;
}

.cancel_btn_group {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}

.switch_container_btns {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: -20px;
}

.switch_container_btn {
  font-size: 15px;
  padding-top: 11px;
  padding-bottom: 11px;
  flex: 0 0 50%;
  box-shadow: 0 4px 8px 0 rgba(44, 39, 56, 0.08);
}

/* RWD Start =================================== */

@media (min-width: 640px) {
  .entering_data_form_box {
    width: 100%;
    border-radius: 24px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding: 30px;
  }

  .entering_data_form {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 0;
  }

  .entering_data_form th,
  .entering_data_form td {
    padding: 12px;
    text-align: center;
  }

  .entering_data_form th {
    border-bottom: solid 1px #707070;
    font-size: 16px;
    color: #747474;
    font-weight: normal;
  }

  .entering_data_form td {
    font-size: 16px;
    color: #b2b2b2;
    font-weight: normal;
  }

  .switch_container_btns {
    margin-bottom: -25px;
  }

  .switch_container_btn {
    font-size: 16px;
    max-width: 226px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (min-width: 1024px) {
  .entering_data_form th {
    font-size: 18px;
  }

  .switch_container_btn {
    font-size: 16px;
    max-width: 226px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

@media (min-width: 1200px) {
  .entering_data_form_box {
    padding: 60px 70px;
  }

  .entering_data_form th,
  .entering_data_form td {
    padding: 16px;
    text-align: center;
  }

  .entering_data_form th {
    font-size: 25px;
  }

  .entering_data_form td {
    font-size: 20px;
  }

  .cancel_entering {
    font-size: 20px;
  }

  .switch_container_btn {
    font-size: 19px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}