.member_service_item_form {
  width: 100%;
  display: block;
}

.service_form_unit,
.service_form_outer {
  width: 100%;
  margin-bottom: 25px;
}

.service_form_unit.error .member_error_hint,
.service_form_outer.error .member_error_hint {
  flex: 0 0 auto;
  width: auto;
  margin-bottom: 0;
  margin-left: 8px;
  margin-bottom: 4px;
}

.form_unit_head {
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 18px;
}

.service_item_form_title {
  font-size: 24px;
  color: #747474;
  display: block;
  font-weight: 600;
}

.form_unit_body {
  width: 100%;
}

.form_unit_body.checkbox_flex {
  display: flex;
  flex-wrap: wrap;
}

.service_title_btn {
  width: 20px;
  height: 20px;
  margin-bottom: 6px;
  margin-left: 6px;
}

.service_related_video_tooltip_container {
  transform: translate(-30%, -120%);
  font-size: 16px;
  color:#525a6a;
}

.service_unit_seperator {
  margin: 18px 0;
  background-color: #b2b2b2;
}

.service_item_classification_btn {
  width: 33.3333%;
  flex: 1 1 33.3333%;
}

.member_service_item_show_container {
  margin-top: 30px;
  width: 100%;
}

.delete_btn_box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 6px;
}

.delete_img {
  display: block;
  width: 20px;
}

.service_case_img_group_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.service_case_img_group_container .upload_certificate_group {
  width: calc(50% - 10px);
  min-height: 35vw;
  min-width: initial;
  max-height: initial;
  height: auto;

  margin-right: 20px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
}

.member-uploaded-img {
  margin-bottom: auto;
}


.service_case_img_group_container .upload_certificate_group:nth-child(2n + 2) {
  margin-right: 0;
}

.service_case_img_group_container .upload_certificate_label {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.add_one_group_btn_box {
  width: calc(50% - 10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.service_case_form_btn_group {
  width: 100%;
  display: flex;
  justify-content: center;
}

.delete_form_btn {
  margin-right: 15px;
}

.service_case_seperator {
  background-color: #b2b2b2;
  margin: 30px 0;
}

.member-uploaded-img-box {
  width: 100%;
  margin-bottom: auto;
}

.lightbox.lightbox-iframe-step {
  max-width: 520px;
}

.lightbox-sub {
  position: relative;
  display: flex;
  align-items: center;
}

.step-img {
  display: block;
  flex: 1 1 80%;
  width: 80%;
}

.step-img1 {
  margin-right: 15px;
}

.prev-step-btn {
  margin-right: 15px;
}

.step-btn {
  display: block;
  flex: 0 0 8%;
}

.next-step-btn {
  transform: rotate(180deg);
}

/* RWD Start ========================================== */

@media (min-width: 375px) {
  .service_related_video_tooltip_container {
    transform: translate(0, -120%);
  }
}

@media (min-width: 640px) {
  .service_item_form_title {
    font-size: 30px;
  }

  .service_form_unit.error .member_error_hint, 
  .service_form_outer.error .member_error_hint {
    margin-left: 10px;
    font-size: 16px;
    margin-bottom: 5px;
  }

  .service_title_btn {
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .service_related_video_tooltip_container {
    font-size: 18px;
    width: 200px;
  }
}

@media (min-width: 768px) {
  .service_item_city_select {
    max-width: 227px;
    font-size: 16px;
  }

  .member_service_item_show_container {
    max-width: 678px;
  }
}

@media (min-width: 1024px) {
  .service_item_form_title {
    font-size: 36px;
  }

  .service_form_unit.error .member_error_hint,
  .service_form_outer.error .member_error_hint {
    margin-left: 12px;
    font-size: 18px;
    margin-bottom: 6px;
  }

  .service_item_city_select {
    font-size: 18px;
  }

  .service_title_btn {
    width: 30px;
    height: 30px;
    margin-bottom: 12px;
    margin-left: 10px;
  }

  .service_related_video_tooltip_container {
    font-size: 20px;
    padding: 18px;
    width: 250px;
  }

  .service_case_img_group_container .upload_certificate_group {
    width: calc(33.3333% - 10px);
    height: auto;
    min-height: 200px;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  
  .service_case_img_group_container .upload_certificate_group:nth-child(2n + 2) {
    margin-right: 15px;
  }

  .service_case_img_group_container .upload_certificate_group:nth-child(3n + 3) {
    margin-right: 0;
  }
  
  .service_case_img_group_container .upload_certificate_label {
    padding: 15px;
  }
  
  .add_one_group_btn_box {
    width: calc(33.3333% - 10px);
  }
}

@media (min-width: 1400px) {
  .form_unit_head {
    margin-bottom: 21px;
  }

  .service_item_form_title {
    font-size: 40px;
  }

  .service_form_outer.error .member_error_hint,
  .service_form_unit.error .member_error_hint {
    margin-left: 15px;
    font-size: 24px;
    margin-bottom: 6px;
  }

  .service_item_city_select {
    font-size: 20px;
  }

  .service_title_btn {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    margin-left: 15px;
  }
}