.member-form-intercept {
  margin-bottom: 30px;
}

.upload_main {
  width: 100%;
  overflow-x: auto;
}

.upload_main_insider {
  min-width: 100vw;
  display: flex;
  align-items: center;
}

.upload_container {
  display: flex;
  align-items: center;
  margin-right: 15px;
  flex: 0 1 auto;
}

.upload_certificate_group {
  min-width: 185px;
  max-width: 321px;
  min-height: 113px;
  max-height: 195px;
  width: 50vw;
  height: 30vw;
  margin-right: 15px;
}

.upload_certificate_group.upload {
  display: flex;
  flex-direction: column;
}

.upload_certificate_group.upload  .member-uploaded-img {
  margin-bottom: auto;
}

.delete_img {
  display: block;
  width: 20px;
}

.delete_btn_box {
  display: flex;
  justify-content: flex-end;
}

.upload_certificate_label {
  width: 100%;
  height: 100%;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #d3d3d3;
  background-color: #ffffff;
  border: 1px solid #c3c3c3;
  font-size: 14px;
  text-align: center;
}

.add_upload_group_btn {
  width: 90px;
  flex: 0 0 90px;
}

.add_upload_plus_img {
  width: 76px;
  display: block;
  margin: 0 auto;
}

.add_upload_group_btn_text {
  color: #b2b2b2;
  font-size: 14px;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.member_pro_file_box {
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
}

.profile_img_box .unupload_box {
  margin: 0 auto;
}

.profile_img_box {
  position: relative;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.profile_show_img {
  display: block;
  max-width: 224px;
  margin: 0 auto;
}

.change_profile_img_btn_box {
  width: 100%;
  position: absolute;
  bottom: -25px;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.change_profile_img_btn {
  font-size: 14px;
}

.save_corporation_data {
  color: #fff;
}

/* RWD Start ========================================== */

@media (min-width: 768px) {
  .upload_certificate_label {
    font-size: 16px;
  }

  .add_upload_group_btn {
    width: 135px;
    flex: 0 0 135px;
  }

  .add_upload_plus_img {
    width: 70px;
  }

  .add_upload_group_btn_text {
    color: #b2b2b2;
    font-size: 18px;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 24px;
  }

  .upload_main_insider {
    min-width: 65vw;
  }

  .change_profile_img_btn {
    font-size: 16px;
  }
  
  .unupload_hint {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .member_pro_file_box {
    flex-direction: row;
  }

  .profile_img_box {
    width: 224px;
    flex: 0 0 224px;
    margin-right: 30px !important;
  }

  .profile_detail_box {
    width: auto;
    flex: 1 1 auto;
    /* max-width: 387px; */
  }

  .member-pro-file .member-main-content .member-section{
    max-width: 668px;
  }

  .change_profile_img_btn {
    font-size: 18px;
  }

  .unupload_img {
    width: 120px;
  }

  .unupload_hint {
    font-size: 20px;
  }
}


@media (min-width: 1200px) {
  .change_profile_img_btn {
    font-size: 18px;
  }
}