.member_selfdata_section {
  padding-top: 180px;
}

.member_selfdata_section.uploaded {
  padding-top: 140px;
}

.member_profile_img_box {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 12;
}

.member_profile_img {
  display: block;
  width: 150px;
  height: 150px;
  /* border-radius: 50%; */
  margin-bottom: 12px;
}

.upload_profile_img_btn {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.member_profile_detail {
  width: 100%;
}

.modify_pwd_title {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  font-size: 16px;
  color: #525a6a;
}

.modify_pwd_btn {
  margin-right: 18px;
}
/* RWD Start ========================================== */

@media (min-width: 640px) {

  .upload_profile_img_btn {
    font-size: 16px;
  }

  .member_selfdata_section {
    padding-top: 200px;
  }

  .member_selfdata_section.uploaded {
    padding-top: 160px;
  }
}

@media (min-width: 768px) {

  .member-section {
    padding: 36px 50px;
  }

  .member_selfdata_section.uploaded {
    padding-top: 36px;
  }

  .member_selfdata_section {
    display: flex;
  }

  .member_profile_img_box {
    position: relative;
    width: 80px;
    flex: 0 0 80px;
    margin-right: 50px;
    top: initial;
    left: initial;
    transform: none;
  }

  .member_profile_img {
    width: 80px;
    height: 80px;

    margin-bottom: 18px;
  }

  .web_flex_container {
    flex: 1 1 auto;
  }

  .upload_profile_img_btn {
    font-size: 18px;
  }

  .btn-type-link {
    font-size: 18px;
  }

  .modify_pwd_title {
    font-size: 18px;
  }
}

@media (min-width: 991px) {
  .member_profile_img_box {
    width: 150px;
    flex: 0 0 150px;
  }

  .member_profile_img {
    width: 150px;
    height: 150px;
  }
}

{
  
}

@media (min-width: 1400px) {
  .member_profile_img_box {
    width: 254px;
    flex: 0 0 254px;
    margin-right: 50px;
  }

  .member_profile_img {
    width: 254px;
    height: 254px;

    margin-bottom: 24px;
  }
}