.member_storgae_status {
  width: 100%;
  border-radius: 30px;
  padding: 10px 12px;
  background-color: #dadada;
  font-size: 16px;
  text-align: center;
  color: #525a6a;
  margin-bottom: 30px;
}

.member_program_section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.member_program_unit {
  display: block;
  width: 100%;
  border-radius: 11px;
  margin-bottom: 30px;
}

.member_program_box {
  width: 100%;
}

.member_program_head {
  width: 100%;
  padding: 18px;
  background-color: #b2b2b2;
  -webkit-border-top-left-radius: 11px;
  -webkit-border-top-right-radius: 11px;
  -moz-border-radius-topleft: 11px;
  -moz-border-radius-topright: 11px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

.member_program_img {
  display: block;
  width: 40%;
  max-width: 115px;
  margin-bottom: 18px;
}

.member_program_title {
  width: 100%;
  display: block;
  text-align: right;
  font-weight: normal;
  color: #fff;
  font-size: 35px;
}

.member_program_unit:focus,
.member_program_unit:hover {
  color: #fff;
}

.member_program_body {
  width: 100%;
  padding: 30px 25px;
  background-color: #fff;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.member_program_detail {
  display: block;
  width: 100%;
  font-size: 20px;
  color: #525a6a;
}

/* RWD Start ========================================== */

@media (min-width: 768px) {
  .member_storgae_status {
    max-width: 474px;
    border-radius: 30px;
    padding: 12px 14px;
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .member_program_section {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .member_program_unit {
    max-width: 300px;
    margin-right: 30px;
  }

  .member_program_title {
    font-size: 40px;
  }

  .member_program_body {
    padding: 35px 30px;
  }
}