.member-container .breadcrumb-text{
  color: #ffffff;
}

.member-main-content {
  margin-top: 250px;
  position: relative;
  z-index: 2;
}

.member-secondary-decoration {
  width: 71.73vw;
  height: 31.2vw;
  max-height: 117px;
  position: absolute;
  top: 136px;
  right: 0;
  z-index: 2;
  background-color: #f6ee20;
  -webkit-border-bottom-left-radius: 36px;
  -moz-border-radius-bottomleft: 36px;
  border-bottom-left-radius: 36px;
}

.member-tertiary-decoration {
  width: 85vw;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.member-primary-container {
  width: 100vw;
  padding: 40px 30px;
  -webkit-border-bottom-right-radius: 75px;
  -moz-border-radius-bottomright: 75px;
  border-bottom-right-radius: 75px;
  background-image: linear-gradient(209deg, #e6720f 35%, #e98912 50%, #fdc424 100%);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.member-primary-container .breadcrumb-link {
  color: #ffffff;
}

.member-category-btns {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.btn-type-member-category {
  color: #ffffff;
  opacity: 0.4;
  flex: 1 1 auto;
  margin-right: auto;
  font-size: 20px;
  text-align: left;
}

.btn-type-member-category.active {
  opacity: 1;
}

.pro_accoount {
  text-align: center;
}

.column_edit {
  margin-right: 0;
  text-align: right;
}

.member-sub-category-group {
  display: none;
}

.member-sub-category-group.active {
  width: 100%;
  display: block;
  justify-content: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.pro_accoount_sub_category_insider {
  width: 450px;
  display: flex;
}

.member_accoount_sub_category .pro_accoount_sub_category_insider,
.column_edit_sub_category .pro_accoount_sub_category_insider {
  width: auto;
  justify-content: center;
}

.btn-type-member-sub-category {
  padding: 5px 12px;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.4;

  position: relative;
}

.btn-type-member-sub-category::after {
  content: '';
  display: block;
  height: 2px;
  background-color: #ffffff;
  opacity: 0.4;

  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
}

.btn-type-member-sub-category.active {
  color: #f6ee20;
  opacity: 1;
}

.btn-type-member-sub-category.active::after {
  background-color: #f6ee20;
  opacity: 1;
  height: 3px;
}

.member-section {
  width: 100%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 30px;
  position: relative;
  z-index: 5;
  background-color: #ffffff;
}

.member-input {
  width: 100%;
  padding: 13px 20px;
  color: #525a6a;
  font-size: 16px;
  display: block;
  margin-bottom: 16px;
  border: 1px solid #c3c3c3;
  background-color: #ffffff;
}

.member-textarea {
  width: 100%;
  padding: 13px 20px;
  color: #525a6a;
  font-size: 16px;
  display: block;
  margin-bottom: 16px;
  resize: none;
  border: 1px solid #c3c3c3;
  height: 200px;
}

.member-select {
  width: 100%;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(44, 39, 56, 0.04);
  border: solid 1px #dbe2ea;
  background-color: #ffffff;

  /*改變右邊箭頭樣式*/
  background: url("../img/icon_bigarrowdown@2x.png") no-repeat 90% center #ffffff;
  background-size: 15px 15px;
  outline: none;

  border-radius: 6px;
  padding: 18px 30px;

  color: #747474;
  font-size: 16px;
}

.member-btns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.member-nonedit-hidden {
  display: none;
}

.editing .member-editing-hidden {
  display: none;
}

.editing .member-nonedit-hidden {
  display: flex;
}

.member_error_hint {
  display: none;
  width: 100%;
  text-align: right;
  font-size: 12px;
  margin-bottom: 18px;
}

.error .member_error_hint {
  display: block;
}

.error .member-input,
.error .member-textarea {
  border-color: #e81a1a;
}

.member_pro_file_title {
  font-size: 23px;
  color: #747474;
  font-weight: 600;
  display: block;
  width: 100%;
  margin-bottom: 18px;
}

.switch_member_file_container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}

.switch_member_file_btn {
  width: 50%;
  font-size: 14px;
  padding: 12px 0;
}

.member-link-btn {
  padding: 6px 0;
  color: #ffffff;
}

.member-link-btn:focus,
.member-link-btn:hover {
  color: #ffffff;
}

/* RWD Start ========================================== */

@media (min-width: 520px) {
  .pro_accoount_sub_category .pro_accoount_sub_category_insider {
    width: auto;
    justify-content: center;
  }

  .btn-type-member-category {
    flex: 0 0 100px;
    margin-right: 18px;
  }

  .column_edit {
    margin-right: 0;
  }

  .member-category-btns {
    justify-content: center;
  }
}

@media (min-width: 640px) {
  .btn-type-member-category {
    font-size: 24px;
  }

  .btn-type-member-sub-category {
    font-size: 18px;
  }

  .member-main-content {
    margin-top: 280px;
  }
}


@media (min-width: 768px) {
  .member-link-btn {
    padding: 8px 0;
  }

  .member-main-content {
    padding-left: 280px;
    margin-top: 110px;
  }

  .member-primary-container {
    min-width: 250px;
    width: auto;
  }

  .member-web-category-btns {
    width: 100%;
    margin-bottom: 40px;
  }

  .member-category-title {
    font-size: 28px;
    color: #ffffff;
    font-weight: 500;
    display: block;
    margin-bottom: 15px;
  }

  .member-web-sub-category-btn-list {
    width: 100%;
  }

  .btn-type-member-sub-category {
    display: block;
    width: 160px;
    padding-left: 0;
    text-align: left;
  }

  .member-secondary-decoration {
    max-width: 644px;
    width: 33.55vw;
    height: 95px;
    top: 0;
    right: 0;
  }

  .member-container {
    min-height: 100vh;
  }

  .member-tertiary-decoration{
    width: 40vw;
    max-width: 450px;
  }

  .member-textarea {
    font-size: 20px;
  }

  .member-input {
    font-size: 20px;
  }

  .switch_member_file_btn {
    font-size: 20px;
    padding: 20px 0;
    max-width: 226px;
  }

  .member_pro_file_title {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .switch_member_file_container {
    margin-bottom: 20px;
  }

  .member_error_hint {
    font-size: 14px;
  }
}