.modi_article_form {
  display: block;
  width: 100%;
  margin-top: 15px;
}

.uploaded_img_container {
  max-width: 436px;
  max-height: 291px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58vw;
  height: 40vw;
  background-color: #ffffff;
  border: solid 1px #c3c3c3;
}

.error .uploaded_img_container {
  border-color: #e81a1a;
}

.uploaded_img_container.had_img {
  height: auto;
  background-color: #ececec;
  outline: none;
  border: none;
  margin-top: 15px;
}

.input_error {
  display: none;
  width: 100%;
  text-align: right;
  color: #e81a1a;
  font-size: 12px;
  margin-top: 5px;
}

.error .input_error {
  display: block;
}

.upload_img_group {
  width: 100%;
}

.file_ui_interface {
  width: 100%;
  display: flex;
}

.file_ui_interface .input_error{
  width: auto;
}

.upload_btn_error_ctrl {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.upload_img_btn,
.upload_img_error {
  text-align: right;
}

.upload_img_btn {
  font-size: 14px;
}

.category_checkbox_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.checkbox-group {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 12px;
  margin-bottom: 12px;
}

.category_checkbox {
  display: none;
}

.checkbox_dummy {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-right: 8px;
  border: 1px solid #747474;
}

.error .checkbox_dummy {
  border-color: #e81a1a;
}

.category_checkbox:checked + .checkbox_dummy {
  background-image: url(../img/icon_check@2x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border: none;
}
.article_description_textarea {
  width: 100%;
}

.error .article_description_textarea {
  border: 1px solid #e81a1a;
}


.save_article_btn {
  margin-right: 15px;
}

.modi_article_btn_group {
  margin-top: 30px;
}

.input-checkbox-label {
  color: #747474;
}

.preview_uploaded_hint {
  display: block;
  width: 100%;
  color: #747474;
  font-size: 14px;
  text-align: center;
}

/* RWD Start =================================== */

@media (min-width: 640px) {
  .file_ui_interface,
  .category_checkbox_container,
  .article_description_textarea {
    flex: 1 1 auto;
    width: auto;
  }

  .category_checkbox_form_group {
    flex-wrap: initial;
  }

  .category_checkbox_form_group .category_error{
    width: 90px;
    flex: 0 0 90px;
    align-self: flex-end;
  }

  .flex-btn-group {
    justify-content: flex-end;
  }

  .input_error {
    color: #e81a1a;
    font-size: 14px;
    margin-top: 8px;
  }
  
  .modi_article_form {
    margin-top: 20px;
  }

  .input-checkbox-label {
    font-size: 16px;
    color: #747474;
  }

  .upload_img_btn {
    font-size: 16px;
  }

  .preview_uploaded_hint {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .modi_article_form {
    max-width: 783px;
    margin: 0 auto;
    margin-top: 30px;
  }

  .preview_uploaded_hint {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .checkbox_dummy {
    width: 28px;
    height: 28px;
    border-radius: 6px;
    margin-right: 10px;
  }

  .input-checkbox-label {
    font-size: 20px;
  }

  .input_error {
    font-size: 16px;
  }

  .upload_img_btn {
    font-size: 20px;
  }

  .modi_article_btn_group {
    margin-top: 40px;
  }

}