.pagination {
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}

.pagination_operator,
.pagination_page {
  display: block;
  width: 20px;
  height: 20px;
}

.pagination_prev {
  margin-right: 10px;
}

.pagination_page {
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content:center;
  margin-right: 10px;
}

.pagination_pages {
  display: flex;
  align-items: center;
}

.pagination_prev_img {
  transform: rotate(180deg);
}

/* RWD Start =================================== */

@media (min-width: 640px) {
  .pagination_prev {
    margin-right: 15px;
  }

  .pagination_page {
    font-size: 18px;
    margin-right: 15px;
  }
}

@media (min-width: 1400px) {
  .pagination_prev {
    margin-right: 15px;
  }

  .pagination_page {
    font-size: 22px;
    margin-right: 15px;
  }
}