.privacy_layout_content {
  /* position: relative; */
  z-index: 0;
  min-height: 60vh;
}

.privacy_layout_seperator {
  height: 3px;
  background-color: #fae646;
  margin: 15px 0;
}

.privacy_layout_content_text {
  color: #555555;
  font-size: 16px;
}

.privacy_layout_motion_energy_img {
  display: block;
  width: calc(100vw - 16px);
  position: absolute;
  top: inherit;
  left: 8px;
  bottom: 0;
  z-index: 0;
  max-width: 1420px;
}

.privacy_layout_decoraction {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
}

.privacy_layout_right_spots {
  display: block;
  width: 50px;
  position: absolute;
  top: -60px;
  right: 15%;
}

.footer {
  position: relative;
  z-index: 10;
}

.privacy_layout_content_img {
  width: 100%;
  display: block;
  margin-bottom: 15px;
}

/* RWD Start =================================== */
@media (min-width: 640px) {
  .privacy_layout_right_spots {
    width: 70px;
    top: -80px;
  }

  .privacy_layout_content_text {
    color: #555555;
    font-size: 20px;
  }

  .privacy_layout_content_img {
    margin-bottom: 20px;
  }

  .main-content-container {
    padding-bottom: 10vw;
  }
}

@media (min-width: 1420px) {
  .privacy_layout_content {
    position: initial;
  }

  .main-content-container {
    padding-bottom: 100px;
  }

  .privacy_layout_motion_energy_img {
    max-width: 1420px;
    left: initial;
    right: 0;
    top: initial;
    bottom: -10px;
    margin-top: 0;
    position: absolute;
  }
}