.pro_profile {
  width: 100%;
}

.pro_profile_basic {
  margin-top: 15px;
}

.expert_profile_img {
  display: block;
  width: 100%;
}

.pro_profile_card {
  width: 100%;
  position: relative;
}

.mob_expert_bg_img {
  width: 100%;
  display: block;
}

.pro_description {
  width: 75%;
  position: absolute;
  top: 20%;
  left: 25px;
  z-index: 2;
}

.pro_name {
  color: #ececec;
  font-size: 20px;
  font-weight: normal;
}

.pro_detail {
  color: #ececec;
  font-size: 14px;
  display: block;
  width: 100%;
  height: 65px;
  overflow-y: auto;
}

.category_btn_group {
  width: 100%;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  overflow-x: auto;
  overflow-y: hidden;
}

.category_btn_container {
  width: 680px;
  display: flex;
}

.pro_category_btn {
  width: 130px;
  box-shadow: 0 4px 8px 0 rgba(44, 39, 56, 0.08);
}

.category_container {
  width: 100%;
  padding: 30px;
}

.category_content {
  width: 100%;
}

.pro_sec {
  width: 100%;
  margin-bottom: 30px;
}

.pro_title {
  display: block;
  color: #525a6a;
  font-size: 22px;
  margin-bottom: 15px;
}

.pro_basic_line_group {
  width: 100%;
}

.pro_basic_line {
  margin-bottom: 8px;
}

.pro_carousel_container {
  width: 100%;
  display: flex;
  align-items: center;
}

.pro_carousel_prev {
  width: 22px;
  height: 22px;
  margin-right: 15px;
  transform: rotate(180deg);
}

.pro_carousel {
  width: calc(100% - 77px);
}

.pro_carousel_unit {
  margin: 0 5px;
}

.pro_carousel_img {
  width: 100%;
}

.pro_carousel_next {
  width: 22px;
  height: 22px;
  margin-left: 15px;
}

.slick-prev {
  width: 22px;
  height: 22px;
  left: -36px !important;
}

.slick-prev::before {
  display: none;
}

.slick-next {
  width: 22px;
  height: 22px;
  right: -36px !important;
}

.slick-next::before {
  display: none;
}

.pro_video_container {
  width: 100%;
  min-height: 179px;
  height: auto;
  background-color: #dbdbdb;
}

.pro_video_container video,
.pro_video_container iframe {
  /* display: block; */
  width: 100%;
}

.services_detail {
  width: 100%;
}

.services_detail_unit {
  margin-bottom: 30px;
}

.services_detail_unit .pro_title {
  margin-bottom: 8px;
}

.services_detail_content {
}

.no_sharing_unit {
  text-align: center;
}

.sharing_unit_title {
  width: 100%;
  display: block;
  color: #525a6a;
  font-size: 16px;
  margin-bottom: 8px;
}

.sharing_unit_description {
  margin-bottom: 30px;
}

.qa_unit {
  width: 100%;
  margin-bottom: 30px;
}

.category_contact {
  margin-top: 10px;
  margin-bottom: 30px;
}

.pro_context {
  display: block;
  width: 100%;
  color: #525a6a;
  opacity: 0.6;
  font-size: 14px;
}

.qa_answer {
  word-wrap: break-word;
}

/* RWD Start =================================== */
@media (min-width: 400px) {
  .pro_detail {
    height: 24vw;
  }
}

@media (min-width: 768px) {
  .pro_profile_basic {
    display: flex;
  }

  .expert_profile_img {
    width: 30%;
  }

  .web_expert_bg_img {
    width: 100%;
    height: 100%;
  }

  .pro_description {
    width: 80%;
  }

  .category_btn_group {
    background-color: #ececec;
    /* padding-left: 0;
    padding-right: 0; */
    width: 100%;
    box-shadow: none;
  }

  .category_btn_container {
    width: 100%;
  }

  .pro_category_btn {
    flex: 0 1 17%;
    padding: 14px 10px;
    
    font-size: 14px;
  }

  .category_container {
    background-color: #ececec;
    /* padding: 0; */
    padding-top: 0;
  }

  .main_pro_container {
    background-color: #ececec;
  }

  .main_pro_content {
    max-width: 1400px;
    margin: 0 auto;
  }

  .category_content {
    background-color: #ffffff;
    box-shadow: 2px 14px 17px 0 rgba(0, 0, 0, 0.16);
    padding-top: 30px;
    padding-bottom: 30px;
    padding: 30px;
  }

  .category_contact {
    margin-top: 0;
  }

  .category_btn_container {
    /* max-width: 1400px;
    margin: 0 auto; */

  }

  .pro_title {
    font-size: 26px;
  }

  .pro_context {
    font-size: 16px;
  }

  .sharing_unit_title {
    font-size: 16px;
  }

  .pro_name {
    font-size: 24px;
  }

  .pro_detail {
    /* font-size: 14px; */
    height: 65px;
  }
}

@media (min-width: 991px) {
  .pro_category_btn {
    flex: 0 1 17%;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
  }

  .pro_title {
    font-size: 32px;
    margin-bottom: 25px;
  }

  .pro_context {
    font-size: 18px;
  }

  .sharing_unit_title {
    font-size: 18px;
  }

  .category_content {
    padding: 35px;
  }

  .pro_name {
    font-size: 28px;
  }

  .pro_detail {
    font-size: 18px;
    height: 80px;
  }
}

@media (min-width: 1024px) {
  .pro_category_btn {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .pro_title {
    font-size: 40px;
    margin-bottom: 35px;
  }

  .pro_context {
    font-size: 28px;
  }

  .sharing_unit_title {
    font-size: 28px;
  }

  .category_content {
    padding: 40px;
  }

  .pro_name {
    font-size: 32px;
  }

  .pro_detail {
    font-size: 20px;
    height: 100px;
  }
}

@media (min-width: 1400px) {
  .main-root {
    background-color: #ececec;
  }

  .category_content {
    margin-bottom: 100px;
  }

  .category_btn_group {
    padding-left: 0;
    padding-right: 0;
  }

  .category_btn_container {
    width: 100%;
  }

  .pro_category_btn {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
  }

  .category_container {
    padding: 0;
  }

  .pro_detail {
    font-size: 20px;
    height: 120px;
  }
}