.qa_container {
  width: 100%;
  max-width: 520px;
  min-height: 300px;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
  z-index: 2;
}

.qa_category_bar {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.qa_category_btn {
  color: #747474;
  font-size: 18px;
  font-weight: 500;
}

.qa_category_btn:hover,
.qa_category_btn:focus {
  color: #e66e0f;
}

.qa_category_btn.active {
  color: #e66e0f;
}

.qa_consumer_btn {
  margin-right: auto;
}

.qa_content,
.qa_content_box {
  width: 100%;
}

.qa_unit {
  width: 100%;
  margin-bottom: 15px;
}

.qa_question_bar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 12px;
  border-radius: 10px;
}

.open .qa_question_bar {
  border: 2px solid #e66e0f;
}

.qa_question_title {
  display: block;
  font-size: 16px;
  font-weight: normal;
  margin-right: auto;
}

.qa_question_down_arrow_img {
  width: 25px;
  display: block;
}

.qa_answer {
  display: none;
  width: 100%;
  background-color: #dbe2ea;
  font-size: 16px;
  color: #555555;
  padding: 12px;
  margin-top: 12px;
  border-radius: 10px;
  max-height: 125px;
  overflow-y: auto;
}

.qa_bg_pattern_img {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;

  max-width: 850px;
}

.qa_main_root .main-content-container {
  padding-bottom: 51vw;
}

/* RWD Start =================================== */

@media (min-width: 640px) {
  .qa_container {
    margin-top: 60px;
  }

  .qa_category_bar {
    margin-bottom: 20px;
  }

  .qa_category_btn {
    font-size: 24px;
  }

  .qa_question_bar {
    padding: 16px;
    border-radius: 12px;
  }

  .qa_unit {
    margin-bottom: 20px;
  }

  .qa_question_title {
    font-size: 18px;
  }

  .qa_answer {
    padding: 16px;
    font-size: 18px;
    max-height: 200px;
  }
}

@media (min-width: 991px) {
  .qa_category_bar {
    margin-bottom: 30px;
  }

  .qa_category_btn {
    font-size: 32px;
  }

  .qa_question_bar {
    padding: 20px;
    border-radius: 12px;
  }

  .qa_question_title {
    font-size: 20px;
  }

  .qa_answer {
    padding: 20px;
    font-size: 20px;
  }

  .qa_content {
    /* max-height: 400px;
    overflow-y: auto; */
  }

  .qa_content_box {
    
  }

  .qa_main_root .main-content-container {
    padding-bottom: 429px;
  }
}