.service-sub-categories-body {
  width: 100%;
  margin-top: 30px;
}

.sub_category_unit {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
}

.sub_category_unit:last-child {
  margin-bottom: 0;
}

.sub_category_head {
  width: 100%;
  position: relative;
}

.mob_title_bgimg {
  display: block;
  width: 100%;
}

.sub_category_title {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
}

.sub_category_body {
  width: 100%;
  min-height: 180px;
  position: relative;
  padding: 30px 50px 60px 50px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub_category_description {
  color: #525a6a;
  font-size: 16px;
}

.sub_category_link_tag {
  display: flex;
  justify-content: center;

  min-width: 120px;
  padding: 5px 0;
  font-size: 12px;
  color: #747474;
  background-color: #f6ee20;
  position: absolute;
  right: 0;
  bottom: 15px;
  z-index: 2;
}

/* RWD Start ========================================== */

@media (min-width: 768px) {
  .sub_category_title {
    font-size: 36px;
  }

  .sub_category_description {
    font-size: 20px;
  }

  .sub_category_link_tag {
    padding: 12px 30px;
    font-size: 14px;
  }

  .sub_category_body {
    padding-bottom: 90px;
  }
}

@media (min-width: 1024px) {
  .sub_category_unit {
    background-image: url(../img/web_sortbn@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;

    flex-direction: row;
    position: relative;
    height: 244px;
    margin-bottom: 50px;
  }

  .mob_title_bgimg {
    display: none;
  }

  .sub_category_body {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: transparent;
  }

  .sub_category_head {
    width: 250px;
  }

  .sub_category_title {
    top: initial;
    bottom: 30px;
    transform: initial;
  }

  .sub_category_body {
    height: 100%;
    padding-left: 45%;
    padding-top: 90px;
    justify-content: flex-start;
  }

  .sub_category_link_tag {
    right: -10px;
    bottom: 26px;
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .sub_category_title {
    font-size: 40px;
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .sub_category_link_tag {
    right: -20px;
    font-size: 20px;
  }
}