.service_categories_container {
  width: 100%;
  margin-top: 30px;
}

.service_category_link {
  display: block;
  width: 100%;
  padding: 30px;
  color: #525a6a;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 20px;
}

.service_category_link:hover,
.service_category_link:focus {
  color: #525a6a;
}

.service_category_box {
  width: 100%;
}

.service_category_img {
  width: 60px;
  display: block;
  margin-bottom: 18px;
}

.service_category_title {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 18px;
}

.service_category_text {
  font-size: 16px;
  display: block;
  width: 100%;
}

/* RWD Start =================================== */

@media (min-width: 640px) {
  .service_categories_container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
  }

  .service_category_link {
    width: calc(50% - 15px);
    margin-bottom: 30px;
    margin-right: 30px;
  }

  .service_category_link:nth-child(2n + 2){
    margin-right: 0;
  }

  .service_category_img {
    width: 70px;
    margin-bottom: 30px;
  }
  
  .service_category_title {
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  .service_category_text {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .service_categories_container {
    margin-top: 70px;
  }

  .service_category_link {
    width: calc(33.3333% - 20px);
    margin-bottom: 30px;
    margin-right: 30px;
    max-width: 400px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: 37px;
    padding-top: 60px;
  }

  .service_category_link:nth-child(2n + 2){
    margin-right: 30px;
  }

  .service_category_link:nth-child(3n + 3){
    margin-right: 0px;
  }

  .service_category_img {
    width: 80px;
    margin-bottom: 34px;
  }
  
  .service_category_title {
    width: 100%;
    margin-bottom: 18px;
    font-size: 24px;
  }
  
  .service_category_text {
    font-size: 20px;
  }
}

@media (min-width: 1400px) {
  .service_categories_container {
    margin-top: 70px;
    max-width: 1400px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .service_category_link {
    width: calc(33.3333% - 20px);
    margin-bottom: 30px;
    margin-right: 30px;
    max-width: 400px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: 37px;
    padding-top: 60px;
  }

  .service_category_link:nth-child(2n + 2){
    margin-right: 30px;
  }

  .service_category_link:nth-child(3n + 3){
    margin-right: 0px;
  }

  .service_category_img {
    width: 80px;
    margin-bottom: 34px;
  }
  
  .service_category_title {
    width: 100%;
    margin-bottom: 18px;
    font-size: 24px;
  }
  
  .service_category_text {
    font-size: 20px;
  }
}