.service-sub-item-head {
  width: 100%;
}

.service-sub-item-flex {
  width: 100%;
  display: flex;
  align-items: center;
}

.service-sub-item-flex .column_name {
  width: auto;
  margin-right: auto;
}

.sub_category_checkbox_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
}

.service-sub-item-body {
  width: 100%;
}

.no-result {
  display: flex;
  align-items: center;
  min-height: 30vh;
}

.no_coach_result {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}

.no-result .no_coach_result {
  display: flex;
}

.no_match_result_img {
  display: block;
  width: 55px;
  margin-right: 15px;
}

.no_match_result_text {
  color: #b2b2b2;
  font-size: 20px;
  display: block;
}

.no-result .has_coach_result {
  display: none;
}

.has_coach_result {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.coach_unit {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.coach_unit:last-child {
  margin-bottom: 0;
}

.coach_profile_img {
  display: block;
  width: 100%;
}

.coach_detail {
  width: 100%;
  padding: 18px 25px;
  background-color: #ffffff;
}

.coach_name {
  display: block;
  width: 100%;
  text-align: center;
  color: #525a6a;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

.coach_description {
  display: block;
  width: 100%;
  color: #747474;
  font-size: 16px;
}

.coach_btn {
  padding: 12px 0;
  color: #ffffff;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #525a6a;
}

/* RWD Start =================================== */

@media (min-width: 640px) {
  .has_coach_result {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: -30px;
  }

  .coach_unit {
    width: calc(50% - 15px);
    margin-right: 30px;
  }

  .coach_unit:nth-child(2n + 2) {
    margin-right: 0;
  }
}

@media (min-width: 991px) {

  .coach_unit {
    width: calc(33.3333% - 20px);
    margin-bottom: 30px;
  }

  .coach_unit:nth-child(2n + 2) {
    margin-right: 30px;
  }

  .coach_unit:nth-child(3n + 3) {
    margin-right: 0;
  }

  .coach_detail {
    padding: 30px;
  }

  .coach_name {
    font-size: 40px;
  }

  .coach_description {
    font-size: 25px;
  }

  .coach_btn {
    font-size: 20px;
    border-top: 5px solid #fae646;
  }

  .no_match_result_img {
    width: 80px;
    margin-right: 30px;
  }

  .no_match_result_text {
    font-size: 40px;
  }
}