<!-- 服務相關照片 -->
<div class="service_form_unit">

  <div class="form_unit_head">
    <h4 class="service_item_form_title">服務相關照片</h4>

    <span class="error_span member_error_hint">*此項目不得為空</span>
  </div>

  <div class="form_unit_body">
    <!-- <div class="upload_certificate_group service_related_upload_body">
      實際上上傳的 input
      <input type="file"
        class="hidden member-upload member_upload_certificate_input service_related_upload_input"
        name="service_related_upload_input" id="service_related_upload_input">

      還沒上傳的時顯示的樣式
      <label class="upload_certificate_label service_related_upload_label"
        id="service_related_upload_label">點選請上傳相關照片</label>

      上傳後的圖片會放在這裡
      <img src="" class="hidden member-uploaded-img uploaded_corporation_certificate_img1"
        alt="Uploaded Image">
    </div> -->

    <div class="upload_main">

      <div class="upload_main_insider">
        <!-- 上傳正照圖片的容器 -->
        <div class="upload_container upload_service_related_container" id="upload_service_related_container">

          <!-- 上傳一張證照的單位 -->
          <!-- <div class="upload_certificate_group">
            實際上上傳的 input
            <input type="file"
              class="hidden member-upload member_upload_certificate_input corporation_certificate1"
              name="corporation_certificate1" id="corporation_certificate1">

            還沒上傳的時顯示的樣式
            <label class="upload_certificate_label upload_certificate_label1" data-type="corporation"
              for="corporation_certificate1">點選請上傳專業證照</label>

            上傳後的圖片會放在這裡
            <img src="" class="hidden member-uploaded-img uploaded_corporation_certificate_img1"
              alt="Uploaded Image">
          </div> -->

        </div>

        <!-- 再加一組上傳的 group 的按鈕 -->
        <button class="btn btn-type-img add_upload_group_btn" id="add_service_related_upload_group_btn">
          <img src="./img/icon_add@2x.png" class="add_upload_plus_img" alt="Add image">
          <span class="add_upload_group_btn_text">上傳更多證照<br />尺寸為400x300</span>
        </button>
      </div>

    </div>

  </div>
</div>