<!-- 服務問答 -->
<div class="service_form_unit">

  <div class="form_unit_head">
    <h4 class="service_item_form_title">服務問答</h4>

    <!-- 新增 服務問答 的按鈕 -->
    <button class="btn btn-type-img add_new_unit_btn service_title_btn add_new_service_qa_btn"
      id="add_new_service_qa_btn">
      <img src="./img/icon_squareadd@2x.png" alt="Add Service Case Unit Image">
    </button>

  </div>

  <div class="form_unit_body service_qa_body" id="service_qa_body">

    <!-- 一個 服務問答 的單元 -->
    <!-- <div class="service_qa_unit">
      服務問答: 標題
      <div class="member-group">
        <input type="text" name="service_qa_question1" id="service_qa_question1"
          class="member-input service_qa_question service_qa_question1" placeholder="請輸入問題敘述
          ">

        <span class="error_span member_error_hint">此項目不得為空</span>
      </div>

      服務問答: 敘述
      <div class="member-group">
        <input type="text" name="service_qa_answer1" id="service_qa_answer1"
          class="member-input service_qa_answer service_qa_answer1" placeholder="請輸入問題回覆
          ">

        <span class="error_span member_error_hint">此項目不得為空</span>
      </div>

    </div> -->
  </div>
</div>