<!-- 服務案例 -->
<div class="service_form_unit">

  <div class="form_unit_head">
    <h4 class="service_item_form_title">服務案例</h4>

    <!-- 新增 服務案例 的按鈕 -->
    <button class="btn btn-type-img add_new_unit_btn service_title_btn add_new_service_case_btn"
      id="add_new_service_case_btn">
      <img src="./img/icon_squareadd@2x.png" alt="Add Service Case Unit Image">
    </button>

  </div>

  <div class="form_unit_body service_case_body" id="service_case_body">

    <!-- 一個服務案例的單元 -->
    <!-- <div class="service_case_unit">
      服務案例: 標題
      <div class="member-group">
        <input type="text" name="service_case_title1" id="service_case_title1"
          class="member-input service_case_title service_case_title1" placeholder="請輸入服務案例標題
          ">

        <span class="error_span member_error_hint">此項目不得為空</span>
      </div>

      服務案例: 敘述
      <div class="member-group">
        <input type="text" name="service_case_description1" id="service_case_description1"
          class="member-input service_case_description service_case_description1" placeholder="請輸入服務案例敘述
          ">

        <span class="error_span member_error_hint">此項目不得為空</span>
      </div>

      服務案例: 照片上傳(不一定要上傳)
      <div class="upload_certificate_group upload_service_case_img_group">
        實際上上傳的 input
        <input type="file"
          class="hidden member-upload member_upload_certificate_input service_case_img_upload1"
          name="service_case_img_upload1" id="service_case_img_upload1">

        還沒上傳的時顯示的樣式
        <label class="upload_certificate_label upload_certificate_label1" data-type="corporation"
          for="service_case_img_upload1">點選請上傳專業證照</label>

        上傳後的圖片會放在這裡
        <img src="" class="hidden member-uploaded-img uploaded_service_case_img1" alt="Uploaded Image">
      </div>

    </div> -->
  </div>
</div>